@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #282C34!important;
    color: white !important;
}

* {
    font-family: 'Roboto Mono', monospace;
}

* h1 {
    color: #61DAFB !important;
}
