.footer {
    background-color: #2a303b;
    padding: 1%;

    @media (max-width:480px) {
        display: inline;
    }

    &-title {
        flex: 70%;

        @media (max-width:1112px) {
            flex: 60%;
        }

        @media (max-width:900px) {
            flex: 40%;
        }

        @media (max-width:600px) {
            flex: 30%;
            text-align: center;
        }

        h6 {
            opacity: 0.7;
            margin-top: 4%;

            @media (max-width:900px) {
                margin-top: 8%;
            }

            @media (max-width:600px) {
                margin-top: 10%;
            }
        }
    }

    &-icons {
        align-content: center;
        align-items: center;
        text-align: center;

        svg {
            margin-right: 5%;
            text-align: center;
        }

        a {
            color: #61DAFB;
        }

        a:hover {
            color: white;
        }

        p {
            text-align: center;
            color: #61DAFB;
            font-weight: 900;
            opacity: 0.7;
        }
    }
}