.btn-secondary {
    background-color: transparent;
    color: #61DAFB;
    &:hover {
        background-color: white;
        color: black;
    }
}

.header {
    a {
        color: #61DAFB;
    }

}

.dropdown-menu {
    background-color: rgb(27, 27, 27);
}

.navbar-expand-md {
    background-color: #20232A;
}