.intro {
    padding-top: 5%;
    width: 50%;
    p {
        text-align: left;
    }
    &-row {
        display: flex;
    }
    &-text {
        flex: 70%;
    }
    &-img {
        img {
            width: 15rem;
            border-radius: 25%;
        }
    }
    @media (max-width:480px) {
        width: 100%;
    }
}