.intro {
    padding-top: 5%;
    margin-left: 5%;
    p {
        text-align: left;
        width: 40rem;
        font-size: 1.5rem;
    }
    .btn {
        font-size: 2rem;
    }
    &-row {
        display: flex;
    }
    &-text {
        flex: 70%;
    }
    &-img {
        img {
            width: 15rem;
            border-radius: 25%;
        }
    }
}

.swiper-button-prev {
    color: #61DAFB;
}

.swiper-button-next {
    color: #61DAFB;
}