.intro {
    padding-top: 5%;
    width: 50%;
    p {
        text-align: left;
    }
    h5 {
        color: #46a4be;
        opacity: 0.9;
    }
    &-row {
        display: flex;
    }
    &-text {
        flex: 70%;
    }
    &-img {
        img {
            width: 15rem;
            border-radius: 50%;
        }
    }
    @media (max-width:480px) {
        width: 100%;
    }
    .btn-secondary {
        background-color: #46a4be;
        color: white;
        &:hover {
            background-color: white;
            color: black;
        }
    }
}