.project {
    margin-left: 5%;
    h1 {
        text-align: center;
        padding-bottom: 3%;
    }
    img {
        width: 30rem;
        height: 16rem;
        margin: 10%;
    }
    &-row {
        padding: 1%;
        .swiper-container {
            width: 30rem;
        }
    }
    &-text {
        h1 {
            text-align: left;
            font-size: 4.5rem;
        }
        p {
            font-size: 1.5rem;
        }
        .btn {
            font-size: 2rem;
        }
    }
    &-repo {
        margin-left: 3%;
    }
}

