.project {
    margin-left: 5%;
    margin-top: 5%;
    h1 {
        text-align: center;
        padding-bottom: 3%;
        margin-top: 5%;
    }
    img {
        width: 30rem;
        height: 16rem;
        margin: 10%;
    }
    &-row {
        padding: 1%;
        .swiper-container {
            width: 30rem;
        }
    }
    &-text {
        margin-top: 3%;
        h2 {
            text-align: left;
            font-size: 4.5rem;
        }
        p {
            font-size: 1.5rem;
        }
        .btn {
            font-size: 2rem;
            margin-left: 10%;
        }
    }
    &-icons {
        a {
            color: white;
            &:hover {
                color: rgb(138, 138, 138);
            }
        }
        svg {
            margin-left: 3%;
            margin-top: 5%;
        }
    }
}

