.testimony {
    margin-top: 3%;
    width: 90%;
    .swiper-container {
        height: 230px;
    }
    &-head {
        margin-top: 5%;
        text-align: center;
    }
    &-row {
        display: flex;
        margin-top: 3%;
    }
    &-pic {
        margin-bottom: 3%;
        img {
            border-radius: 50%;
        }
    }
    &-text {
        flex: 70%;
        h2 {
            font-weight: bold;
        }
        a {
            color: white;
        }
    }
}